.todoItem {
  display: flex;
  align-items: center;
  padding: 1rem;
  margin-bottom: 1rem;
}

.todoItem input[type="checkbox"]:checked ~ p {
  text-decoration: line-through;
  color: aquamarine;
}

.section-buttons {
  display: flex;
  justify-content: space-between;
}

.buttons {
  padding: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.tab-button {
  background: red;
  border: none;
  border-radius: 5px;
  padding: 4px;
}

.tab-button:hover {
  background: green;
}
.tab-button:focus {
  background: green;
}
.buttons button:active {
  background: green;
}
.tab-button-active {
  background: gray;
}
.Footerstyle {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  margin-bottom: 1rem;
}

.First {
  padding: 1rem;
  margin-bottom: 1rem;
}

.threePoints {
  background: transparent;
  border: none;
}
